.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#game{
    height:1080px;
    margin:auto;
    display: grid;
    grid-template-columns: 33.333% 33.333% 33.333%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: 
    "top top top"
    "left middle right"
    "bottom bottom bottom";
    background-color: #2196F3;
}
#bottom {
    grid-area: bottom;
}

#playerHand {
    white-space:nowrap;
}
ul {
    list-style-type: None;
}
ul li {
    display: inline;
}

#top {
    grid-area: top;
    white-space:nowrap;
    
}

#right {
    grid-area: right;
    white-space:nowrap;
    list-style-type: None;
}
#right ul li:first-child{
    margin-top: 0px;
    display: list-item;   
}

#right li {
    display: list-item;
}

#left {
    grid-area: left;
    white-space:nowrap;
}

#left ul li:first-child{
    margin-top: 0px;
    display: list-item;   
}

#left li {
    display: list-item;
}

#discard {
    margin: auto;
    margin-bottom: 20px;   
}

#inPlay {
    grid-area: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
#inPlay button{
    display: inline-block;
    vertical-align: middle;
}
#inPlay ul {
    display: inline-block;
    vertical-align: middle;
    padding: 1em;
    width: 200px;
}

#inPlay ul li {
    margin-left: -85px;
    display: inline;
}

#inPlay ul li:first-child{
    display: inline;
    margin-left: 0px;
}
#table {
    margin: auto;
    width: 50%;
    padding: 10px;
}
tr {
    height: 100px;
  }
  
tr td {
     height: auto !important;
  }

#right img {
    width : 140px;
    height: 100px;
}
#left img {
    width : 140px;
    height: 100px;
}
    
img {
    width : 100px;
    height: 140px;
    transform: translateY(0px);
}

.selected {
    transition: 0.2s;
    transform: translateY(-20px);
}

.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}

.cardInline{
    display: inline;
    position: relative;
}

.text{
    position: absolute;
    bottom: 150px;
    left: 0px;
    padding-left: 20px;
    padding-right: 20px;
}