.App {
  text-align: center;
}


h1 {
  margin: 30px;
  text-align: center;
}

h4 {
  margin: 30px;
}

ol li {
  list-style-type: none;
}

body {
  background-color: #529e78;
}

button {
  background-color:white;
  border:none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size:36px;
  letter-spacing: 1px;
  font-weight:800;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


button:hover {
	-webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  cursor: pointer;
}

#home {
  display: flex;
  justify-content: center;
}

.home-content {
  max-width: 1920px;
  min-height: 900px;
  height: 100vh;
  max-height: 1080px;

}

.home-content h1 {
  font-size: 85px;
  letter-spacing: 4px;
  color: #000000;
  font-weight: 800;
  font-style: italic;
}

.home-image{
  margin-top: 100px;
  margin-bottom: 200px;
}

.home-image img {
  width: 225px;
  height: 315px;
  margin-left:100px;
}

.login {
  text-align: center;
}

.login button {
  margin-bottom:50px;
}

#lobby{
  display:flex;
  flex-wrap: wrap;
  margin-top: 100px;
  width: 700px;
  height: 800px;
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.user-input{
  text-align: center;
}

.user-input p {
  font-size:24px;
  font-weight: 800;
}

input[type=text], input[type=submit]{
  background-color:white;
  border:none;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  font-size:24px;
  font-weight: 800;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  font-family: inherit;
}

.user-input input[type=submit]{
  margin-left:20px;
}

.user-input button {
  padding:10px;
  font-size:24px;
}

.game-rooms{
  align-self: center;
  margin: 10px;
  height:600px;
  width:600px;
  overflow-y: scroll;
}


.game-join{
  height:100px;
  width:600px;
}

table {
  table-layout: fixed;
  width:100%;
  border-collapse: collapse;
}

thead{
  background-color:#F8F8F8;
}

.inner-table{
  box-shadow: 2px 2px 5px #555 inset;
}

tr { 
  border: solid;
  border-width: 1px 0;
  height:100px;
}

th{
  text-align: initial;
  height:50px;
}

td{
  margin:2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#game {
  min-height: 900px;
  height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    "top top top"
    "left middle right"
    "bottom bottom bottom";
  background-color: #2196F3;
}

#bottom {
  grid-area: bottom;
}

#playerHand {
  margin-top: 50px;
  white-space: nowrap;
}

ul {
  list-style-type: None;
}

ul li {
  display: inline;
}

#top {
  grid-area: top;
  white-space: nowrap;

}

#right {
  grid-area: right;
  white-space: nowrap;
  list-style-type: None;
}

#right ul li:first-child {
  margin-top: 0px;
  display: list-item;
}

#right li {
  display: list-item;
}

#left {
  grid-area: left;
  white-space: nowrap;
}

#left ul li:first-child {
  margin-top: 0px;
  display: list-item;
}

#left li {
  display: list-item;
}

#inPlay {
  grid-area: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inPlay button {
  display: inline-block;
  vertical-align: middle;
}

#inPlay ul {
  display: inline-block;
  vertical-align: middle;
  padding: 1em;
  width: 400px;
}

#inPlay ul li {
  margin-left: -85px;
  display: inline;
}

#inPlay ul li:first-child {
  display: inline;
  margin-left: 0px;
}

#table {
  margin: auto;
  width: 50%;
  padding: 10px;
}

tr {
  height: 100px;
}

tr td {
  height: auto !important;
}



.selected {
  transition: 0.2s;
  transform: translateY(-20px);
}

.numberCircle {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;

  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;

  font: 32px Arial, sans-serif;
}

.cardInline {
  display: inline;
  position: relative;
}

.text {
  position: absolute;
  bottom: 150px;
  left: 0px;
  padding-left: 20px;
  margin-bottom: 10px;
  padding-right: 20px;
}

.drawCard {
  margin-Bottom: 2.25rem
}

@media only screen and (max-width: 992px) {
  #right img {
    width: 126px;
    height: 90px;
  }

  #left img {
    width: 126px;
    height: 90px;
  }

  img {
    width: 90px;
    height: 126px;
    transform: translateY(0px);
  }

  p {
    font-size: 1rem;
  }

  .text {
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 992px) {
  #right img {
    width: 140px;
    height: 100px;
  }

  #left img {
    width: 140px;
    height: 100px;
  }

  img {
    width: 100px;
    height: 140px;
    transform: translateY(0px);
  }
}